{% load static %}

<link rel="stylesheet" href="{% static 'client/style.css' %}">

<h1>Tickets{% if usr %} for {{ usr.userid }} {% endif %}</h1>
{% if user_tickets %}
    <div class="container">
    {% for tkt in user_tickets %}
        <div draggable="true" class="box" precedence={{ tkt.precedence }} tkt_num={{ tkt.tkt_num }}>
            <b>
            <a href="{% url 'client:ticket' tkt.tkt_num %}">
                {{ tkt.tkt_num }}
            </a>
            &emsp;
                {{ tkt.title }}
            </b>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No tickets are available.</p>
{% endif %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', (event) => {

  function handleDragStart(e) {
    this.style.opacity = '0.4';
  
    dragSrcEl = this;
  
    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('text/html', this.innerHTML);
  }

  function handleDragEnd(e) {
    this.style.opacity = '1';

    items.forEach(function (item) {
      item.classList.remove('over');
    });
  }

  function handleDragOver(e) {
    e.preventDefault();
    return false;
  }

  function handleDragEnter(e) {
    this.classList.add('over');
  }

  function handleDragLeave(e) {
    this.classList.remove('over');
  }
  
  function handleDrop(e) {
    e.stopPropagation();

    if (dragSrcEl !== this) {
    
      // Swap displayed data
      dragSrcEl.innerHTML = this.innerHTML;
      this.innerHTML = e.dataTransfer.getData('text/html');
      
      // Swap attributes too
      tktPrec = this.attributes["precedence"].value;
      tktNum = this.attributes["tkt_num"].value;
      this.setAttribute("precedence", dragSrcEl.attributes["precedence"].value);
      this.setAttribute("tkt_num", dragSrcEl.attributes["tkt_num"].value);
      dragSrcEl.setAttribute("precedence", tktPrec);
      dragSrcEl.setAttribute("tkt_num", tktNum);
      
      // Send back to the db to remember the order
      url = "{% url 'client:swap' 'PLACEHOLDER1' 'PLACEHOLDER2' %}";
      url = url.replace("PLACEHOLDER1", dragSrcEl.attributes["tkt_num"].value);
      url = url.replace("PLACEHOLDER2", this.attributes["tkt_num"].value);
      $.get(url, function (r){console.log(r);})
    }

    return false;
  }

  let items = document.querySelectorAll('.container .box');
  items.forEach(function(item) {
    item.addEventListener('dragstart', handleDragStart);
    item.addEventListener('dragover', handleDragOver);
    item.addEventListener('dragenter', handleDragEnter);
    item.addEventListener('dragleave', handleDragLeave);
    item.addEventListener('dragend', handleDragEnd);
    item.addEventListener('drop', handleDrop);
  });
});

</script>